extends layout

block content
    nav.nav-bar
        .first-nav
            ul.list
                li
                    a(href="/")  Store
                li
                    a(href="#television") Televisions
                li
                    a(href="#phone") Phones
                li
                    a(href="#laptop") Laptops
                li
                    a(href="#") Cars
            ul.list
                li
                    a(href="/cart" id="cart_n") Shopping Cart
                li
                    a(href="/profile") User

                                        
            


    script(src="/js/main.js")
            

                    