extends layout

block content
    nav.navbar
        a(href="/" class=text-white)
            i.fab.fa-fa-pagelines   Store
        
        button.navbar-btn(type="button")

        div.collapse#navbarCollapse
            ul.navbar-nav.menu
    
    div.container
        main
            div.row
                div.col
                    h1  Orders
                    div.table-res
                        table#table.table-striped
                            thead
                                tr
                                    th  Id
                                    th  Order
                                    th  Total
                                    th
                            
                            tbody
                                each order in orders
                                    tr
                                        td #{order}
                                        td
                                        
                                        a(href="/order#{_id}", class="btn") Update
                                        a(href="/order#{_id}", class="btn") Delete
            
            

